						<ui class="contacts">
						<li class="active">
							<div class="d-flex bd-highlight">
								<div class="img_cont">
									<img src="https://www.azuma-mie.co.jp/wordpress/wp-content/uploads/2021/08/g0577-768x768.png" class="rounded-circle user_img">
									<span class="online_icon"></span>
								</div>
								<div class="user_info">
									土構造検査
								</div>
							</div>
						</li>
						</ui>