							<div class="d-flex justify-content-start mb-4">
								<div class="img_cont_msg">
									<img src="https://monotone.jp/wp-content/uploads/2019/09/583e4c78184b5a772385794b6015fcc7.jpg" class="rounded-circle user_img_msg">
								</div>
								<div class="msg_cotainer">
									進捗どうですか？
									<span class="msg_time">8:40 AM, Today</span>
								</div>
							</div>
							<div class="d-flex justify-content-end mb-4">
								<div class="msg_cotainer_send">
									A橋梁の検査完了したのでこれから帰ります。
									<span class="msg_time_send">8:55 AM, Today</span>
								</div>
							</div>
							<div class="d-flex justify-content-start mb-4">
								<div class="img_cont_msg">
									<img src="https://creazilla-store.fra1.digitaloceanspaces.com/emojis/52398/construction-worker-emoji-clipart-md.png" class="rounded-circle user_img_msg">
								</div>
								<div class="msg_cotainer">
									了解です
									<span class="msg_time">9:00 AM, Today</span>
								</div>
							</div>