<% unless user_signed_in? %>
  <%= link_to new_user_registration_path do %>
    <div class="new-register">新規登録</div>
  <% end %>
  <%= link_to new_user_session_path do %>
    <div class="login">ログイン</div>
  <% end %> 
<% end %>

<% if user_signed_in? %>
  <%= link_to new_room_path do %>
    <div class="group">ルーム作成</div>
  <% end %>
  <%= link_to destroy_user_session_path, method: :delete do %>
    <div class="logout">ログアウト</div>
  <% end %>
<% end %>