.create_room{
  margin: auto;
  padding: 25px 25px;
  width: 300px;
  min-height: 115px;  
  border-radius: 15px !important;
  background-color: rgba(63, 16, 16, 0.4) !important;
  box-shadow: 0 0 20px rgba(0,0,0,.15);
  font: 12px/15px Arial, Helvetica, sans-serif;
  color: white;
}

select{
  width: 250px;
}

.create_room_member{
  max-width: 100%;
  height: auto;
  width /***/:auto;
}